<app-header [titulo]="titulo"> </app-header>


<ion-content>
    <ion-item class="ion-no-border">
        <ion-label class="ion-text-center">
            <h3>Presentación:[0102-05-02]</h3>
            <p>Persian Cucumbers 18x1 Lbs TJ Canasta PT Greenhouse </p>
        </ion-label>
    </ion-item>
    <ion-list class="ion-padding">
        <ion-grid>
            <ion-row>
                <ion-col id="col-cab" size="4" class="ion-text-start">
                    <ion-label>Pallet</ion-label>
                </ion-col>
                <ion-col id="col-cab" size="3" class="ion-text-center">
                    <ion-label>Cajas</ion-label>
                </ion-col>
                <ion-col id="col-cab" size="3" class="ion-text-center">
                    <ion-label>Kilos</ion-label>
                </ion-col>
                <ion-col id="col-cab" vsize="2" class="ion-text-center">
                    <ion-label>Acción</ion-label>
                </ion-col>
            </ion-row>
            <ion-row *ngFor="let pal of palletpedido">
                <ion-col id="col-det" size="4" class="ion-text-start">
                    <ion-label> {{pal.c_codigo_pal}}</ion-label>
                </ion-col>
                <ion-col id="col-det" size="3" class="ion-text-center">
                    <ion-label> {{pal.n_bulxpa_pal }}</ion-label>
                </ion-col>
                <ion-col id="col-det" size="3" class="ion-text-center">
                    <ion-label> {{pal.n_peso_pal}}</ion-label>
                </ion-col>
                <ion-col id="col-det" size="2" class="ion-text-center">
                    <ion-icon name="trash-outline"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col id="col-cab" size="4" class="ion-text-start">
                    <ion-label>Totales:</ion-label>
                </ion-col>
                <ion-col id="col-cab" size="3" class="ion-text-center">
                    <ion-label>{{ palletpedido | total:'n_bulxpa_pal' | number }}</ion-label>
                </ion-col>
                <ion-col id="col-cab" size="3" class="ion-text-center">
                    <ion-label>{{ palletpedido | total:'n_peso_pal' | number}}</ion-label>
                </ion-col>
                <ion-col id="col-cab" vsize="2" class="ion-text-center">

                </ion-col>
            </ion-row>

        </ion-grid>
    </ion-list>
</ion-content>