p{
    font-size: 10px;
}

#ped{
    background-color: rgba(238, 113, 30, 0.986);
}

#sur{
    background-color:  rgba(38, 190, 0, 0.986);
}

#pal{
    background-color: rgba(0, 120, 233, 0.986);
}



